name: Lint
runs:
  steps:
    - uses: actions/setup-go@v4
      with:
        go-version: 1.20.x
        cache: false
    - uses: actions/checkout@v3
    - name: golangci-lint
      uses: golangci/golangci-lint-action@v3
      with:
        version: latest
